
.bkg{
    background-color: black;  
    font-family: Lucida;    
}
.h{			
    font-size: 24pt;
    color: lightgrey;
    vertical-align: bottom;
}
.progress-bar{
    width:100%; 
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
background-image:linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);}

.instruction{position: absolute;height: 150pt;width: 150pt;visibility: hidden;}

textarea{background-color: black;border: none; font-family:agency fb;font-size: 30pt; resize: none;}
