
    .bkg{
        background-color:black;
        color:green;   
        height: 100%;
    }

    .h{
       color: green;
       font-family: bold arial;
       font-size: 100%;
       text-align: center;
    }
